<div class="container-fluid custom-modal">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-1"></div>
            <div class="col-md-6 col-sm-10 col-xs-12 center-block">
                <div class="modal-body">
                    <h3>Neem contact op <i class="fa fa-times pull-right close-modal"></i></h3>
                    <form id="contact-form" action="hier jouw action token" method="post">

                        <div class="form-group">
                            <label for="naam">Naam</label>
                            <input type="text" class="form-control" id="naam">
                        </div>
                        <div class="form-group">
                            <label for="email">Mail</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="onderwerp">Onderwerp</label>
                            <input type="text" class="form-control" id="onderwerp">
                        </div>
                        <div class="form-group">
                            <label for="bericht">Bericht</label>
                            <textarea name="bericht" id="bericht" class="form-control"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default btn-lg btn-block" id="verstuur-btn">Verstuur &nbsp; <i class="fa fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-md-3 col-sm-1"></div>
        </div>
    </div>
</div>