---
layout: default
---
<br>
<div class="container">
    <div class="paginator">
        {% if page.previous.categorie == "portfolio" %}
            {% if page.previous.url %}
                <a class="pull-left" href="{{ page.previous.url | prepend: site.baseurl }}"><small><i class="fa fa-arrow-left"></i> &nbsp; {{page.previous.title}}</small></a>
            {% endif %}
        {% endif %}

        {% if page.next.categorie == "portfolio" %}
            {% if page.next.url %}
                <a class="pull-right" href="{{ page.next.url | prepend: site.baseurl }}"><small>{{page.next.title}} &nbsp; <i class="fa fa-arrow-right"></i></small></a>
            {% endif %}
        {% endif %}
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% for images in page.image %}
                <img src="{{ site.baseurl }}/assets/images/{{ images }}" alt="{{ page.title }}" class="img-responsive portfolio-img">
                <br>
            {% endfor %}
            <hr>
        </div>
        <div class="col-md-4">
            <h4 class="title">{{ page.title }}</h3>
            <h5>{{ page.subtag }}</h5>
            <hr>
            <small>
            {{ content | remove: '<p>' | remove: '</p>' }}
            </small>
        </div>
    </div>
</div>
